[submodule "Parcial_1/practica3/ASW-2025-1"]
	path = Parcial_1/practica3/ASW-2025-1
	url = https://github.com/joancema/ASW-2025-1
[submodule "Parcial_1/practica1/Aplicacion-para-el-servidor-web"]
	path = Parcial_1/practica1/Aplicacion-para-el-servidor-web
	url = https://github.com/KristhianBello/Aplicacion-para-el-servidor-web
[submodule "Parcial_1/evaluacion/Examen4"]
	path = Parcial_1/evaluacion/Examen4
	url = https://github.com/joancema/Examen4
[submodule "Parcial2/practica-2"]
	path = Parcial2/practica-2
	url = https://github.com/tuusuario/practica-2
